/* main styles */

/* colours
green = #4aae48
blue = #0976a9
red = #eb3524
*/


/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://use.typekit.net/gvw4qwv.css");



/* weights */
.light { font-weight: 300; /* light */ }
.regular { font-weight: 400; /* regular */ }
.medium { font-weight: 500; /* medium */ }
.bold { font-weight: 700; /* bold */ }



/* heading/button fonts */
.pm {
	font-family: proxima-nova, sans-serif;
}
.pm-medium {
	font-family: proxima-nova, sans-serif;
	font-weight: 500;
	font-style: normal;
}
.pm-bold {
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: normal;
}



/* colours */
.text-green { color: #4aae48; }
.text-blue { color: #0976a9; }
.text-red { color: #eb3524; }
.text-gray { color: #e2e2e2; }
.text-black { color: black; }
.bg-gray-lt { background-color: #f3f3f3; }
.bg-gray { background-color: #ebe7eb; }
.bg-green { background-color: #4aae48; }
.bg-blue { background-color: #0976a9; }
.bg-red { background-color: #eb3524; }
.bg-alternating {
	background-color: white;
}
.bg-alternating:nth-child(odd) {
	background: #ebe7eb;
}
.bg-white-grad {
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(230,230,230,1) 0%, rgba(238,238,238,1) 4%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 100%);
}
.bg-white-grad-rev {
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(230,230,230,1) 0%, rgba(238,238,238,1) 4%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 100%);
}
.bg-green-grad {
	background: rgb(2,0,36);
	background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(53,122,51,1) 0%, rgba(74,174,72,1) 100%);
}
.bg-red-grad {
	background: rgb(2,0,36);
	background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(176,42,29,1) 0%, rgba(235,53,36,1) 100%);
}
.bg-blue-grad {
	background: rgb(2,0,36);
	background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(7,97,139,1) 0%, rgba(9,118,169,1) 100%);
}


/* App colours */
.bg-app-lt-blue {
	background-color: #6399b9;
}
.bg-app-lt-green {
	background-color: #87b37d;
}
.bg-app-lt-red {
	background-color: #ED4939;
}
.bg-app-dk-gray {
	background-color: #c5c4c4;
}





/* main styles */
*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a:hover {
	color: inherit;
	text-decoration: none;
}
a {
	cursor: pointer;
	outline: none !important;
}
html, body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h3 ,h4 ,h5 ,h6 {
	font-family: proxima-nova, sans-serif;
}
p {
	line-height: 1.65;
}
button:focus,
.btn:focus,
input:focus,
textarea:focus,
select:focus,
.custom-select:focus {
	outline: 0 !important;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
::selection {
	color: #ffffff;
	background-color: #0976a9;
}
a {
	text-decoration: none;
		-webkit-transition: all .21s ease-in-out;
		-moz-transition: all .21s ease-in-out;
		-o-transition: all .21s ease-in-out;
	transition: all .21s ease-in-out;
}
a:hover,
a:focus,
a:active {
}
.top-mar { margin-top: 232px; }
.block-pad {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.block-pad-top {
	padding-top: 5rem;
}
.block-pad-bot {
	padding-bottom: 5rem;
}
.title-shadow {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}



/* buttons */
.btn-green, .btn-contact {
	font-weight: 500;
    text-transform: uppercase;
    font-size: 1.15rem;
	font-family: proxima-nova, sans-serif;
	color: white;
	background-color: #4aae48;
	border: 2px solid #4aae48;
		-webkit-transition: .21s ease-in-out;
		-moz-transition: .21s ease-in-out;
		-o-transition: .21s ease-in-out;
	transition: .21s ease-in-out;
	border-radius: 0;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-contact:hover, .btn-contact:focus, .btn-contact:active {
	color: #4aae48;
	background-color: white;
	border: 2px solid #4aae48;
}
.btn-table {
	font-weight: 500;
    text-transform: uppercase;
    font-size: .75rem;
	padding: .05rem .55rem;
	font-family: proxima-nova, sans-serif;
	color: white;
	background-color: #4aae48;
	border: 2px solid #4aae48;
		-webkit-transition: .21s ease-in-out;
		-moz-transition: .21s ease-in-out;
		-o-transition: .21s ease-in-out;
	transition: .21s ease-in-out;
	border-radius: 0;
}
.btn-table:hover, .btn-table:focus, .btn-table:active {
	color: #4aae48;
	background-color: white;
	border: 2px solid #4aae48;
}
.btn-green-alt {}
.btn-white {
	font-weight: 500;
    text-transform: uppercase;
    font-size: 1.15rem;
	font-family: proxima-nova, sans-serif;
	color: white;
	background-color: transparent;
	border: 2px solid white;
		-webkit-transition: .21s ease-in-out;
		-moz-transition: .21s ease-in-out;
		-o-transition: .21s ease-in-out;
	transition: .21s ease-in-out;
	border-radius: 0;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
	color: white;
	background-color: #4aae48;
	border: 2px solid #4aae48;
}




/* contact */
.contact-page form {
	font-family: proxima-nova, sans-serif;
}
.contact-page form .form-control {
	background-color: transparent;
}
.input-group .form-control {
		-webkit-box-shadow: none;
	border-bottom: 2px;
	border-style: none none solid none;
	border-radius:0; 
	border-color: #0976a9;
}
.input-group .form-control:focus {
	box-shadow: none;
	border-width: 0 0 3px 0;
	border-color: #0976a9;
  
}
.large-textarea {
	resize: none;
	height: 7rem !important;
}



/* hamburger */
.third-button:active, .third-button:focus {
	outline: none !important;
	box-shadow: none !important;
}
.third-button:active .animated-icon3 span, .third-button:focus .animated-icon3 span {
	opacity: .9;
}
.animated-icon3 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.animated-icon3 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	transform: rotate(0deg);
		-webkit-transition: .21s ease-in-out;
		-moz-transition: .21s ease-in-out;
		-o-transition: .21s ease-in-out;
	transition: .21s ease-in-out;
}
.animated-icon3 span {
	background: white;
}
.animated-icon3 span:nth-child(1) {
	top: 0px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
	transform-origin: left center;
}
.animated-icon3 span:nth-child(2) {
	top: 10px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
	transform-origin: left center;
}
.animated-icon3 span:nth-child(3) {
	top: 20px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
	transform-origin: left center;
}
.animated-icon3.open span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 3px;
}
.animated-icon3.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}
.animated-icon3.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
	left: 3px;
}



/* navbar */
.navbar {
	padding: 0rem 1rem;
	min-height: 4.5rem;
}
.navbar-dark .navbar-toggler {
	color: transparent;
	border-color: transparent;
}
.navbar-expand-lg .navbar-nav .nav-link {
	font-family: proxima-nova, sans-serif;
	text-transform: uppercase;
}
.shrink {
	height: 100px;
	width: auto;
	transition: 0.4s; /* Adds a transition effect when the size is decreased */
}
.fixed-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	background-color: white;
	z-index: 99;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	color: rgba(255,255,255,.8);
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.member-login {
	font-family: proxima-nova, sans-serif;
	text-transform: uppercase;
	color: white;
	font-weight: 500;
	background-color: #4aae48;
	height: 4.5rem;
	padding: 0 2rem;
}
.member-login:hover, .member-login:active, .member-login:focus {
	color: white;
	background-color: #429C40;
}
.list-inline-item:hover {
	cursor: pointer;
}
.nav-socials .fa-stack .fa-circle {
		-webkit-transition: .21s ease-in-out;
		-moz-transition: .21s ease-in-out;
		-o-transition: .21s ease-in-out;
	transition: .21s ease-in-out;
}
.nav-socials .fa-stack:hover .fa-circle {
	color: #4aae48 !important;
}
.nav-socials .fa-stack:hover .fa-search {
	color: white;
}




/* default page template */
.header-pad {
	padding-top: 12rem;
	padding-bottom: 4rem;
	position: relative;
}
.header-pad .container {
	z-index: 9;
	position: relative;
}
.header-pad:after {
	content: "";
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.38279061624649857) 0%, rgba(255,255,255,0) 100%);
	z-index: 1;
}
.header-pad h1 {
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.header-pad h1:after {
	content: "";
	width: 82px;
	height: 8px;
	left: 0;
	position: relative;
	display: block;
	top: 15px;
	content: '';
	background-color: #4aae48;
}
.default-page-body a, a.tag, a.media-content {
	color: #0976a9;
	font-weight: 700;
	text-decoration: none;
		-webkit-transition: all .21s ease-in-out;
		-moz-transition: all .21s ease-in-out;
		-o-transition: all .21s ease-in-out;
	transition: all .21s ease-in-out;
}
.default-page-body a:hover,
.default-page-body a:focus,
.default-page-body a:active,
a.media-content:hover,
a.media-content:focus,
a.media-content:active,
a.tag:hover,
a.tag:focus,
a.tag:active {
	color: #4aae48;
}
.default-page-body hr {
	background-color: #4aae48;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.default-page-body .nav-tabs, .default-page-body .nav-tabs .nav-link {
	border: 0px solid white;
}
.nav-tabs .nav-item.show .nav-link:after, .nav-tabs .nav-link.active:after {
	content: "";
	width: 100%;
	height: 6px;
	left: 0;
	position: relative;
	display: block;
	top: 8px;
	content: '';
	background-color: #0976a9;
}
.table tr.pm-bold th {
	font-weight: 700;
}
.table td, .table th {
	border-top: 0px solid #dee2e6;
	font-weight: 400;
}



/* footer */
.divider {
	border-top: 2px solid #b9b9b9;
}
.footer-link-title {
	color: #4aae48;
	text-decoration: none;
		-webkit-transition: all .21s ease-in-out;
		-moz-transition: all .21s ease-in-out;
		-o-transition: all .21s ease-in-out;
	transition: all .21s ease-in-out;
}
.footer-link-title:hover,
.footer-link-title:focus,
.footer-link-title:active {
	color: black;
}
.footer-link {
	color: black;
	text-decoration: none;
		-webkit-transition: all .21s ease-in-out;
		-moz-transition: all .21s ease-in-out;
		-o-transition: all .21s ease-in-out;
	transition: all .21s ease-in-out;
}
.footer-link:hover,
.footer-link:focus,
.footer-link:active {
	color: #4aae48;
}



/* search and 404 */
.error-height, .minheight {
	min-height: 60vh;
}



/* our science topics */
.list-group i.fa {
	margin-right: 10px;
}
.list-group .alt-highlight {
	border-top: 1px solid #7e9ba5;
}
.list-group .alt-background a.list-group-item {
	background: #f5f5f5;
}
.list-group .alt-background .list-group-submenu a.list-group-item {
	background: #fff;
}
.list-group a {
	color: #333;
}
.list-group .list-group-submenu {
	margin-left: 20px;
	font-size: 15px;
}
.list-group.no-seperator > .list-group-item {
	border-bottom: none;
}
.list-group .collapsing {
		-webkit-transition: height 0.3s;
	transition: height 0.3s;
}
.list-group .list-group-item:first-child,
.list-group .list-group-item:last-child {
	border-radius: 0;
}
.list-group > .list-group-submenu a {
	border-left: 4px solid #eee;
}
.list-group > .list-group-submenu .list-group-submenu a .list-group-item {
	background: #f5f5f5;
}
.list-group > .list-group-submenu .list-group-submenu a.selected.themed-bg {
	background: #7e9ba5;
}
.list-group > .list-group-submenu.alt-background a.list-group-item {
	background: #f5f5f5;
}
.list-group .list-group-item {
	border: none;
	border-bottom: 0px dashed #eee;
	margin-top: 2px;
	margin-bottom: 2px;
}
.list-group .list-group-item.active {
	background: white;
	color: #333;
	border-color: #eee;
}
.list-group .list-group-item.active.highlight {
	border-color: #29434e;
}
.list-group .list-group-item.selected {
	border-left: 4px solid #29434e !important;
	font-weight: bold;
}
.list-group.indicator-plus a:after {
	font-family: 'Font Awesome 5 Pro';
	content: "\f067";
	float: right;
	top: calc(50% - 7px);
	right: 20px;
	position: absolute;
	font-size: 12px;
	color: #333;
}
.list-group.indicator-plus a[aria-expanded="true"] {
	font-weight: bold;
}
.list-group.indicator-plus a[aria-expanded="true"]:after {
	content: "\f068";
}
.list-group.indicator-plus a.active:after {
	content: "\f068";
}
.bordered-subnav {
	border: 0px solid #e6e6e6;
}
.bordered-subnav .list-group-item {
	padding: .75rem 2rem .75rem 1.25rem;
}





/* app specific css */
.app-block {
	margin-bottom: 2rem; 
}
.app-block-header {
	padding: 1.25rem 3rem; 
}
.app-block-header h2 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 3px;
	margin-bottom: 0;
}
.app-block-body {
	padding: 2rem 3rem 1.5rem;
}
.app-block p {
	font-size: .85rem;
}
.app-block-request-btn {
	font-weight: 500;
    text-transform: uppercase;
    font-size: 1.15rem;
	font-family: proxima-nova, sans-serif;
	color: white;
	background-color: #c5c4c4;
	border: 2px solid #c5c4c4;
		-webkit-transition: .21s ease-in-out;
		-moz-transition: .21s ease-in-out;
		-o-transition: .21s ease-in-out;
	transition: .21s ease-in-out;
	border-radius: 0;
}
.app-block-request-btn:focus, .app-block-request-btn:hover {
	color: #c5c4c4;
	background-color: white;
	border: 2px solid #c5c4c4;
}
.search-property-selector-container label {
	font-size: .85rem;
}
.search-property-selector-container .form-group {
    margin-bottom: .25rem;
}
.app-search-form label {
	font-size: .9rem;
}
.app-search-form input, .app-search-form select {
	border-radius: 1rem;
	background-color: #dedede;
}



/* queries */
@media screen and (min-width: 1200px) {
	.navbar-nav .nav-link {
		padding-right: .75rem !important;
		padding-left: .75rem !important;
	}
}
@media (min-width: 992px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: .60rem;
		padding-left: .60rem;
		text-transform: uppercase;
	}
}
@media screen and (max-width: 1200px) {
	.grid figure {
		min-width: 100%;
		max-width: 632px;
		max-height: 360px;
	}
	.cta-grid figure {
		min-width: 31%;
		max-width: 100%;
		width: 31%;
	}
}
@media screen and (max-width: 992px) {
	.navbar {
		padding: 2rem 1rem;
		min-height: 4.5rem;
	}
	.bg-listing {
		background-color: #f3f3f3;
		min-height: auto;
	}
}
@media screen and (max-width: 769px) {
	.carousel-heading {
		top: -15.5rem;
	}
	.carousel-heading h1 {
		font-size: 2.5rem;
		font-weight: 500;
	}
	.carousel-heading h2 {
		font-size: 1.75rem;
		font-weight: 300;
	}
	.shrink {
		height: 100px !important;
		display: inline-block;
	}
	.top-mar {
		margin-top: 182px;
	}
	.cta-grid figure {
		min-width: 99%;
		max-width: 100%;
		width: 99%;
	}
}
@media screen and (max-width: 569px) {
	.carousel-heading {
		top: -12.5rem;
	}
	.nav-tabs > li {
		width:100%;
	}
	.nav-tabs .nav-item {
		margin-bottom: 5px;
	}
	ul.report-links li {
		font-size: .95rem;
	}
	.link-list {
		padding: 3rem 1rem;
	}
	figure.effect-lily figcaption > div {
		padding: 1em;
	}
	.grid h3 {
		padding: 3rem 1rem;
	}
	.navbar {
		padding: 1rem 1rem;
		min-height: 3.5rem;
	}
	.top-mar {
		margin-top: 172px;
	}
	.carousel-heading h1 {
		font-size: 2.25rem;
		font-weight: 500;
	}
	.carousel-heading h2 {
		font-size: 1.25rem;
		font-weight: 400;
	}
	.slick-next {
		right: -5px;
	}
	.slick-prev {
		left: -5px;
	}
}
