/*.reactable-previous-page, .reactable-next-page, .reactable-page-button {
  @extend .btn;
  @extend .btn-default;
}*/

.intro-container {
  text-align:center;
  margin-top:40px;
}
.intro-text {
  padding-top:40px;
  text-align:left;
  max-width:600px;
  margin:0 auto;
}
.intro-text button {
  margin-top:30px;
}


/* hide pagination size selector for react-bootstrap-table */
#pageDropDown {
  display: none;
}

.scientific-name {
  font-style:italic;
}

.selector-placeholder {
  font-style:normal;
}

.search-property-selector-container {
  margin-bottom: 15px;
}

/* fix form staircasing issue when labels are very long */
.form-group {
  clear:both;
}

.guideline-display h4 {
  display: inline-block;
  margin-right:5px;
}

.guideline-editor h4 {
  display: inline-block;
}

.guideline-editor input {
  margin: 0px 10px;
}

.guideline-group-table {
  margin-bottom:50px;
  padding:10px;
}

.guideline-group-table {
  position:relative;
  overflow:hidden;
}

.table-overlay {
  cursor: pointer;
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
}

.table-overlay.move-target {
  background-color: rgba(0, 255, 0, 0.1);
  background-image: url("pointing-finger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 128px 128px;
}
.table-overlay.move-target:hover {
  border:5px dashed lightgreen;
  animation: animated-move-target 0.7s linear infinite
}

.table-overlay.not-target {
  background-color:rgba(0, 0, 0, 0.1);
}
.table-overlay.not-target:hover {
  border:5px dashed #999;
}

@keyframes animated-move-target {
  from { background-position: 50% 30%; }
  to { background-position: 50% 50% }
}

/* On the manage guidelines page, if a toxicity value is being moved
  its corresponding table row will have this style */
.moving-toxicity-value-row {
  background-color: #888 !important;
  font-weight: bold;
  color: #fff;
}

.search-configuration-input {
  width: 50%;
  display: inline-flex;
}

/*
  spinning loader
  see: https://stackoverflow.com/questions/14793367/how-to-add-a-spinner-icon-to-button-when-its-in-the-loading-state#26283602
*/

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
